<h1>
  Is your name a prime number?
  <span class="colophon"><a href="https://github.com/linusrachlis/prime-number-names-web/">Source code</a></span>
</h1>

<form>
  <label>
    Name:
    <input [ngModel]="name" (ngModelChange)="updateName($event)" name="name" size="50">
  </label>
</form>

<table>
  <tr>
    <td *ngFor="let letter of letters">{{letter.letter}}</td>
  </tr>
  <tr>
    <td *ngFor="let letter of letters">{{letter.value}}</td>
  </tr>
</table>

<p>
  Total:
  <span [ngClass]="{prime: prime, total: true}">{{total}}</span>
  <span [ngClass]="{prime: prime, result: true}">{{prime ? "Prime!" : "Divides by " + divisor}}</span>
</p>
