<h1>Is your name a prime number?</h1>

<form>
  <label>
    Name:
    <input [ngModel]="name" (ngModelChange)="updateName($event)" name="name" size="50">
  </label>
</form>

<p>
  Total:
  <span [ngClass]="{prime: prime, total: true}">{{total}}</span>
  <span [ngClass]="{prime: prime, result: true}">{{prime ? "Prime!" : "Divides by " + divisor}}</span>
</p>

<table>
  <tr>
    <td *ngFor="let letter of letters">{{letter.letter}}</td>
  </tr>
  <tr>
    <td *ngFor="let letter of letters">{{letter.value}}</td>
  </tr>
</table>
